@model IEnumerable<CoreADO.NET.Models.EmployeeModel>

@{
    ViewData["Title"] = "GetEmployees";
}

<h1>GetEmployees</h1>

<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpSalary)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmployee", new {  id=item.EmpId }) |
                @*@Html.ActionLink("Details", "Details", new {  id=item.EmpId }) |*@
                @Html.ActionLink("Delete", "DeleteEmployee", new {  id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
